body{
    background: rgba(0, 238, 255, 0.699);
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main{
    display: flex;
    flex-flow: column;
    align-items: center;
}
footer{
    text-align: center;
    height: 200px;
    border: solid black 1px;
}